In [1]:
# Import dependencies and libraries
import gmaps
import pandas as pd
import os

# Google developer API key
from config import api_key

# Configure gmaps
gmaps.configure(api_key=api_key)

In [2]:
# Importing csv with cities data

## Retrieving file list
avail_files = []
path = os.path.join('..', 'WeatherPy', 'results_csv')
for _ in os.scandir(path):
    if os.path.isfile:
        (avail_files.append(_.name))
    
# Saving the files list to a dataframe to allow user input by number
avail_files = pd.DataFrame({'Files Available': avail_files})
print (avail_files)

# For testing purposes, switch comment after testing
#import_file = int (input("Type the index of the file you want to use: "))
import_file = 2

# Opening csv file and converting to dataframe
csv_path = os.path.join('..', 'WeatherPy', 'results_csv', avail_files.loc[import_file, 'Files Available'])
weather_data = pd.read_csv(csv_path)

weather_data

               Files Available
0  weather_data_1619218389.csv
1  weather_data_1619456878.csv
2        weather_data_test.csv

,Unnamed: 0,Cities,Latitude,Longitude,Temperature (°F),Humidity,Cloudiness,Wind Speed (mph)
0,0,upernavik,72.7868,-56.1549,36.59,89,89,3.06
1,1,qaanaaq,77.4840,-69.3632,37.56,74,72,6.76
2,2,vardo,70.3705,31.1107,32.00,93,75,19.57
3,3,dikson,73.5069,80.5464,31.87,98,100,19.08
4,4,longyearbyen,78.2186,15.6401,23.00,63,20,11.50
5,5,jamestown,42.0970,-79.2353,43.86,41,1,5.75
6,6,fram,-26.9833,-55.8833,69.78,52,0,3.44
7,7,vila velha,-20.3297,-40.2925,86.14,62,20,12.66
8,8,coquimbo,-29.9533,-71.3436,59.00,77,90,3.44
9,9,natalio,-26.7167,-55.0833,74.03,36,0,3.78
10,10,xai-xai,-25.0519,33.6442,71.73,85,0,7.78
11,11,bambous virieux,-20.3428,57.7575,77.02,78,75,13.80
12,12,standerton,-26.9337,29.2415,63.00,40,5,3.76
13,13,arraial do cabo,-22.9661,-42.0278,79.57,78,20,8.05
14,14,necochea,-38.5473,-58.7368,66.00,65,0,1.01
15,15,castro,-24.7911,-50.0119,73.33,50,24,8.37
16,16,cape town,-33.9258,18.4232,64.83,77,20,10.36
17,17,east london,-33.0153,27.9116,71.60,78,0,11.50
18,18,mahebourg,-20.4081,57.7000,78.80,78,75,13.80
19,19,port elizabeth,-33.9180,25.5701,59.00,94,75,18.41
20,20,ushuaia,-54.8000,-68.3000,42.80,87,90,5.75
21,21,kruisfontein,-34.0033,24.7314,61.00,87,100,3.00
22,22,albany,42.6001,-73.9662,47.50,32,5,3.00
23,23,bredasdorp,-34.5322,20.0403,60.80,82,0,3.44
24,24,ponta do sol,32.6667,-17.1000,65.52,68,20,11.50
25,25,vila franca do campo,37.7167,-25.4333,62.60,82,40,11.50
26,26,bristol,41.8334,-71.1662,52.63,35,1,9.22
27,27,saint-pierre,-21.3393,55.4781,74.08,73,90,14.97
28,28,sidi ali,36.0998,0.4206,65.79,55,5,8.01
29,29,kingsport,36.5484,-82.5618,66.34,34,1,3.44
30,30,ceyhan,37.0247,35.8175,68.31,60,20,6.91
31,31,fethiye,36.6217,29.1164,75.20,43,0,3.44
32,32,narsaq,60.9167,-46.0500,41.00,81,75,10.36
33,33,berlevag,70.8578,29.0864,34.29,60,40,14.97
34,34,hermanus,-34.4187,19.2345,64.00,76,9,13.29
35,35,mehamn,71.0357,27.8492,35.60,60,20,13.80

In [31]:
# Obtaining the humidity level heat map

# Centering the map on point 0 and fixing the zoom level
fig = gmaps.figure(center = (0,0), zoom_level=2)

# Getting lat/long to plot
cities = weather_data[['Latitude', 'Longitude']]

# Creating the heat layer with humidity levels
humidity = weather_data['Humidity']
heat_layer = gmaps.heatmap_layer(cities, weights=humidity, dissipating=False, point_radius=3)
fig.add_layer(heat_layer)

# Displaying the map
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# Narrowing down the dataframe to ideal conditions

# Filter parameters as variables for easily changing them if needed
max_temp = 80
min_temp = 70
wind_speed = 10
cloudiness = 0

# Filtering the dataframe
ideal_cities = weather_data.copy(deep=True)
ideal_cities = ideal_cities.loc[(ideal_cities['Temperature (°F)'] > min_temp) &
                                (ideal_cities['Temperature (°F)'] < max_temp) &
                                (ideal_cities['Wind Speed (mph)'] < wind_speed) &
                                (ideal_cities['Cloudiness'] == cloudiness),:]


ideal_cities

,Unnamed: 0,Cities,Latitude,Longitude,Temperature (°F),Humidity,Cloudiness,Wind Speed (mph)
9,9,natalio,-26.7167,-55.0833,74.03,36,0,3.78
10,10,xai-xai,-25.0519,33.6442,71.73,85,0,7.78
31,31,fethiye,36.6217,29.1164,75.20,43,0,3.44

In [49]:
#Using Google Places API to find the first hotel for each city located within 5000 meters of your coordinates.